/* PHASE 2: Thumbs */

.profile-friends {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.profile-friends > li {
  display: flex;
  width: 60px;
  margin: 0 0 10px 0;
}

.profile-friends > li:nth-child(3n+2) {
  margin-left: 10px;
  margin-right: 10px;
}

.thumb {
  display: block;
  position: relative;
  width: 58px;
  height: 58px;
  border: 1px solid black;
  border-radius: 5px;
}

.thumb:hover:before {
    content: "";
    display: absolute;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -7px;
    border-top: 5px solid red;
    border-bottom: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.thumb:hover:after {
    content: attr(title);
    display: absolute;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

.thumb > img {
  border-radius: 5px;
}